<div class="d-flex justify-content-between align-items-center border p-2 shadow-lg px-lg-5">
	<p>Total Amount:</p>
	<p><b>$<%= @total_amount %></b></p>
</div>
<br>
<span>
	<%= button_to groups_path, class: "back", method: :get do %>
		<i class="bi bi-backspace"></i>
	<%end%>
</span>
<div class="container text-center">
  <div class="row">
	  <div class="col-sd-12 col-lg-6border">
		  <% if @entities.blank? %>
				<p class="text-center"> No transactions added yet. Add one!</p>
			<%else%>
				<% @entities.each do |entity|%>
					<%= render partial:"list", locals: {entity: entity} %>
				<%end%>
			<%end%>
			<hr>
				<div class="bottom-btn">
				<%= link_to "Add a new transaction", new_group_entity_path, class: "btn btn-secondary" %>
				</div>				
		</div>
	</div>
</div>