<div class="bi-container">
	<% if icon == "Housing" %>
		<i class="bi bi-house-door"></i>
	<% elsif icon == "Transportation" %>
		<i class="bi bi-truck"></i>
	<% elsif icon == "Food" %>
		<i class="bi bi-egg-fried"></i>
	<% elsif icon == "Utilities" %>
		<i class="bi bi-light-blub"></i>
	<% elsif icon == "Insurance" %>
		<i class="bi bi-life-preserver"></i>
	<% elsif icon == "Medical & Healthcare" %>
		<i class="bi bi-heart-pulse"></i>
	<% elsif icon == "Saving, Investments, & Debt Payments" %>
		<i class="bi bi-piggy-bank"></i>
	<% elsif icon == "Personal Spending" %>
		<i class="bi bi-cash-stack"></i>
	<% elsif icon == "Recreation & Entertainment" %>
		<i class="bi bi-suit-club"></i>
	<% elsif icon == "Clothes" %>
		<i class="bi bi-bag"></i>
	<% elsif icon == "Miscellaneous" %>
		<i class="bi bi-puzzle"></i>
	<% else %>
		<i class="bi bi-award"></i>
	<%end%>
</div>