<section class="splash">
  <div class="splash-container">
		<div class="blob-container">
			<svg xmlns="http://www.w3.org/2000/svg" width="250" height="250" viewBox="-25 -25 250 250" class="blob"> 
				<defs>
					<linearGradient id="lgrad" x1="0%" y1="50%" x2="100%" y2="50%" >
						<stop offset="0%" style="stop-color:#00FF84;stop-opacity:1.00" />
						<stop offset="100%" style="stop-color:#008EE6;stop-opacity:1.00" />
					</linearGradient>
				</defs>
				<path d="M193.9563962050536 65.76265763586507 C187.7464004442939 51.21567694627844 167.72542672272414 25.0535785133598 154.60275567504374 16.223278455817578 C142.6420156400691 8.174846620916643 113.68073455937909 -0.14009570121513965 99.26490416220453 0.0027018659541226953 C84.60469668735654 0.14792013669733897 55.042330558073935 8.795690993668483 43.326773123513796 17.609798183240727 C28.413180362929744 28.829922014962733 7.917239949065076 62.09804019367053 2.057869429268095 79.81735747564997 C-0.2918482603498749 86.92313669284532 -0.4026222786290192 102.27933626784215 0.4727485566210703 109.71216866237538 C1.5781394167088794 119.09811649456958 6.636741620806273 137.68271922602048 11.18973454305349 145.964516199637 C16.92215499838779 156.39166668926543 32.47720982194787 175.39734832807807 42.497906696255626 181.8138696413235 C56.00118422515402 190.46038087199375 87.99305430712904 199.79256548958935 104.02691545768273 199.91888686277824 C115.43217042194321 200.00874216682053 137.89887613049027 193.04464771020747 147.99139651699414 187.73155567040084 C156.70202761865724 183.14594345505904 172.38772850929232 170.39182672294172 178.1398007295262 162.4032975246496 C186.71404748400627 150.4953071641356 197.93504665629388 122.37738137190608 199.69458891298416 107.80954169404967 C200.96674516855515 97.27693396276361 198.12170313878718 75.51993314225139 193.9563962050536 65.76265763586507Z" stroke="none" fill="url(#lgrad)"  />
			</svg>
		</div>
		<h1 class="splash-text">Budgety</h1>
	</div>
</section>